<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
   <!--配置一个Hello的bean-->
    <bean id="hello" class="com.spring.aop.HelloImpl"></bean>
    <!--配置一个MyBeforeAdviced的bean-->
    <bean id="mybeforeadvice" class="com.spring.aop.MyBeforeAdvice"></bean>
    <aop:config>
      <aop:aspect id="mybeforeadvice" ref="mybeforeadvice" >
          <aop:pointcut id="mypointcut" expression="execution(* com.spring.aop.*.*(..))"/>
          <aop:before method="beforeMethod" pointcut-ref="mypointcut"/>
      </aop:aspect>
    </aop:config>

    <bean id="user" class="com.spring.aop.UserDaoImpl"></bean>
    <bean id="userbefore" class="com.spring.aop.UserBeforeAdvice"></bean>
    <aop:config>
        <aop:aspect id="userbefore" ref="userbefore" >
            <aop:pointcut id="mypointcut" expression="execution(* com.spring.aop.*.*(..))"/>
            <aop:before method="connection" pointcut-ref="mypointcut"/>
        </aop:aspect>
    </aop:config>
</beans>